body
{
    background-image: url("http://bestanimations.com/Nature/Water/rain/rain-nature-animated-gif-21.gif");
    background-size: cover
}
#head2
{
    background-color: black;
    color: white;
    font-size: 25px;

}
#color1
{
    color: white;
}